/* Toggle Switch CSS */
.switch {
    position: relative;
    display: inline-block;
    width: 32px;
    height: 16px;
  }
  
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 11px;
  width: 11px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2b385a;
}

input:checked + .slider:before {
  transform: translateX(14px);
}

.slider.round {
  border-radius: 32px;
}

.slider.round:before {
  border-radius: 50%;
}

.header-outer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.logo-box {
  display: flex;
  align-items: center;
}

.logo {
  width: 95px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 0.5rem;
  transform: scale(1.5);
  margin-left: 20px;
  padding-top: -7px;
}

.plugin-name {
  font-size: 14;
  font-weight: regular;
}

.slider-box {
  display: flex;
  align-items: center;
}